.route-box {
    display: flex;
    gap: 50px;
    margin-top: 55px;
    margin-left: 43px;
}

p.booking-detail-station {
    font-weight: bold;
    font-size: 32px;
}

.route-detail {
    text-align: center;
}

.route-detail h2 {
    margin: 4px 0;
}
.passenger-info {
    margin-top: 34px;
    margin-left: 34px;
}

.price-info {
    margin-top: 17px;
    margin-left: 48px;
    font-size: 20px;
    font-weight: bold;
}

.title-card-info {
    font-weight: regular;
    margin-top: 52px;
    margin-left: 34px;
    font-size: 18px;
}
.card-number {
    margin-left: 34px;
    margin-bottom: 95px;
}

button.detail-to-history,
button.detail-to-refund {
    margin-top: 34px;
    margin-left: 20px;
    margin-bottom: 85px;
}


.blurred {
    filter: blur(4px);
    pointer-events: none;
    user-select: none;
}
