.box {
    border-radius: 16px;
    width: 390px;
    height: auto;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 122px;
    margin-left: 20px;
}
