/* Pretendard 글꼴 가져오기 */
@import url("https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard.css");

/* Start, End 페이지와 Resrvation페이지는 버튼 크기 따로 조정 필요 */
.button {
    width: 186px;
    height: 54px;
    background-color: #2b32b2;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    margin-bottom: 130px;
    font-family: "Pretendard", sans-serif;
    font-weight: bold;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
    border: none;
    transition: 0.3s ease;
}
.button:hover {
    background-color: #9194cf;
    cursor: pointer;
}
