.header-logo {
    height: 35px;
    margin-top: 0;
}

.header-container {
    width: 100%;
    max-width: 430px;
    display: flex;
    background-color: #2b32b2;
    height: 85px;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: 0;
    z-index: 100;
}
