.history-ticket {
    margin-top: 60px;
}
.ticket-list-container {
    align-items: center;
}

.selection-header {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.selection-header-right {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    font-weight: 500;
}

.ticket-list {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    flex-direction: column;
    margin: 0 auto;
}
.ticket-container {
    position: relative;
    margin-top: 18px;
    border-radius: 16px;
    border: 1px solid #c9cdd2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.ticket-content {
    display: flex;
    flex-direction: row;
    width: 364px;
    height: 182px;
}

.history-ticket-checkbox {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 20px;
    height: 20px;
    z-index: 2;
}

/* 파란 세로 바 */
.ticket-left-bar {
    width: 50px;
    background-color: #3b3bed;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

/* 우측 컨텐츠 */
.ticket-info {
    padding: 17px;
    display: flex;
    flex-direction: column;
}

.route-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
    gap: 16px;
}

.station-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    font-size: 24px;
}

.start-label,
.arrive-label {
    font-size: 16px;
    color: #72787F;
    margin-bottom: 35px;
}

.label{
    font-size: 16px;
    color: #72787F;
}

.station {
    font-size: 24px;
    font-weight: bold;
}

.arrow {
    font-size: 18px;
    margin: 0 8px;
}

.time-block {
    text-align: right;
    font-weight: bold;
}

/* 아래 디테일 */
.details {
    font-size: 14px;
    color: #444;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 21px;
}
.detail-item {
    display: flex;
    justify-content: space-between; /* 왼쪽과 오른쪽 항목 간격을 띄움 */
    align-items: center; /* 세로 가운데 정렬 */
}


.value {
    flex: 1; /* 값이 가능한 공간을 채움 */
    text-align: right; /* 오른쪽 정렬 */
}
