.title {
    font-size: 20px;
}

.user-id {
    color: red;
    font-weight: bold;
}

.date-section {
    padding: 20px;
    margin-top: 10px;
}

.period {
    margin-left: 10px;
    font-weight: bold;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
    color: #5c5cfe;
}

.react-calendar_navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.calendar-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.history-look-up {
    margin-left: 25%;
    margin-top: 15px;
    margin-bottom: 0;
}

.route {
    font-weight: bold;
}

.times {
    color: gray;
}

.details p {
    margin: 4px 0;
}

.refund-button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: #5c5cfe;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button.history-refund {
    margin-left: 25%;
    margin-top: 17px;
}
.ticket-container-none {
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.no-reservation-section {
    margin-top: 111px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.no-reservation-text {
    margin-bottom: 190px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#historyNone-to-home {
    margin-bottom: 82px;
}
