/* Pretendard 글꼴 가져오기 */
@import url("https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard.css");

.phone-number-title {
    font-size: 32px;
    font-family: "Pretendard", sans-serif;
    font-weight: bold;
    margin-top: 145px;
    margin-bottom: 30px;
}
.phone-key {
    font-family: "Pretendard", sans-serif;
    font-weight: bold;
}
.phone-number {
    margin-top: 100px;
    justify-content: column;
    align-items: center;
    display: flex;
    flex-direction: column;
}
input.phone-number-input {
    width: 280px;
    height: 20px;
    border-radius: 10px;
    border: #c9cdd2 solid 1px;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}
.keypad {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.keypad-row {
    display: flex;
    gap: 10px;
}
/* 이전, 다음 버튼 */
.nav-buttons {
    display: flex;
    gap: 9px;
    margin-top: 104px;
}

.phone-key {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* 불필요한 여백 제거 */
    border-radius: 6px;
    border: #c9cdd2 solid 1px;
    background-color: white;
    width: 100px;
    height: 64px;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
}
.delete-img {
    margin-top: auto;
    margin-left: 110px;
}
