.refund-success {
    display: flex;
    flex-direction: column;
}

.ment {
    color: black;
    text-align: center;
}

button.go-main {
    margin: auto;
    margin-top: 40px;
}

.success-image {
    width: 106px;
    height: 106px;
    margin-top: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
