.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-box {
    background: white;
    border: 2px solid #2B32B2;
    border-radius: 12px;
    padding: 20px 30px;
    text-align: center;
    height: 192px;
    width: 298px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

button.refund-yes,
button.refund-no{
    width: 150px;
    height: 44px;
}
