/* Pretendard 글꼴 가져오기 */
@import url("https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard.css");

/* 조회 버튼*/
button.look-up2 {
    /* margin-top: 80%; */
    margin-left: 20px;
    width: 390px;
    height: 54px;
    font-size: 28px;
}

.box-name {
    font-family: "Pretendard", sans-serif;
    font-size: 18px;
    font-weight: medium;
    margin-left: 36px;
}

.react-calendar__navigation__label {
    font-size: 12px;
    pointer-events: none;
}

.react-calendar__navigation__next2-button {
    display: none;
}

.react-calendar__navigation__prev2-button {
    display: none;
}