/* Pretendard 글꼴 가져오기 */
@import url("https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard.css");

.display-button {
    display: flex;
}

.box-name {
    font-family: "Pretendard", sans-serif;
    font-size: 18px;
    font-weight: medium;
    margin-left: 36px;
}

.react-calendar {
    border: none;
    background-color: rgba(43, 50, 178, 0.2);
    border-radius: 8px;
    font-family: "Pretendard", sans-serif;
}

.react-calendar__navigation__label {
    height: 43px;
    font-size: 18px;
    font-family: "Pretendard", sans-serif;
    pointer-events: none;
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
    display: none;
}

.react-calendar__navigation__arrow
    .react-calendar__navigation__next-button:hover {
    background-color: none;
}

.react-calendar__navigation__arrow {
    height: 33px;
}

.react-calendar__month-view__weekdays abbr {
    text-decoration: none;
    font-weight: 800;
}

.react-calendar__month-view__weekdays__weekday--weekend abbr[title="일요일"] {
    color: #ff1744;
}

.react-calendar__month-view__weekdays__weekday--weekend abbr[title="토요일"] {
    color: #2b32b2;
}

.react-calendar__month-view__days__day--weekend:nth-child(7n) abbr {
    color: #2b32b2;
}

/* 오늘 날짜 스타일 */
.react-calendar__tile--now {
    background-color: white;
    border-radius: 50%;
    color: black;
}

.react-calendar__tile--now:hover {
    color: #111111;
}

/* 선택된 날짜 스타일 */
.selected-date {
    background-color: #00000000 !important;
    color: black !important;
    border: 1px solid #2b32b2;
    border-radius: 8px;
}

.react-calendar__tile:enabled:focus {
    border: 1px solid #2b32b2;
    border-radius: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: transparent !important;
}


.react-calendar__navigation button:disabled {
    background-color: transparent;
}

.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
    background-color: transparent;
}

.react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus {
    background: none !important;
}   

.react-calendar__tile--now:enabled:hover, .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
    background: none !important;
}

.react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
    
}

.station-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}

.station-selection {
    display: flex;
    flex-direction: column;
}

.content-container {
    margin: 30px 20px;
}

.station-select-button{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #333333;
}

.dropdown-arrow-icon {
    margin-left: 10px;
}

.station-selection select {
    appearance: none;
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #f8f8f8;
    font-family: "Pretendard", sans-serif;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.station-selection select:focus {
    outline: none;
    border-color: #2b32b2;
}

.station-selection select:hover {
    outline: 0;
}

.station-select-button {
    background-color: #00000000;
    border: none;
    font-size: 32px;
    font-weight: 600;
}

.depature-station, .arrival-station {
    margin: 10px 0 10px 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.reservation-detail-select {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}

.reservation-detail-select-inform {
    font-weight: 400;
}

.station-selection-arrow {
    margin-top: 10px;
}

.select-people-number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select-people-number button {
    background-color: #00000000;
    border: none;
    margin: 0 auto;
}

.select-people-number button:hover {
    cursor: pointer;
}

.select-people-number-button {
    text-align: center;
}

button.reservation-back,
button.reservation-search {
    margin-top: 34px;
    margin-left: 20px;
    margin-bottom: 85px;
}
