.logo {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 350px;
}

.button-container {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50%;
}
/* 예매하기 버튼*/
button.reservation {
    margin-top: 80%;
    width: 390px;
    height: 76px;
    font-size: 32px;
    color: white;
}

/* 조회하기 버튼 */
button.look-up {
    margin-top: 10%;
    width: 390px;
    height: 76px;
    font-size: 32px;
}

button:hover {
    cursor: pointer;
}