body {
    margin: 0;
    background-color: #d9d9dd;
}

.App {
    max-width: 430px;
    margin: 0 auto;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    width: auto;
    position: relative;
    word-break: keep-all;
    background-color: #fff;
}
