/* Pretendard 글꼴 가져오기 */
@import url("https://cdn.jsdelivr.net/npm/pretendard@1.3.9/dist/web/static/pretendard.css");

body {
    margin: 0;
    background-color: #d9d9dd;
}

.App {
    max-width: 430px;
    margin: 0 auto;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    width: auto;
    position: relative;
    word-break: keep-all;
    background-color: #fff;
    font-family: "Pretendard", sans-serif;
}
h3 {
    padding: 20px;
    font-size: 18px;
    font-weight: medium;
}
